// Buttons 
$input-btn-padding-y: .6rem;
$input-btn-padding-x: 1.2rem;
$input-btn-font-size: 1rem;

$btn-padding-y: .5rem;
$btn-padding-x: 1.1rem;
$btn-border-radius: 5rem;

// Navbar
$navbar-padding-y: .0rem;

// Accordion
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: transparent;
$accordion-button-active-color: black;
$accordion-icon-width: 1rem;
$accordion-padding-x: .0rem;

$primary:       #D7F5FF;
$primary-light: #d7f5ff76;