input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.search.form {
    width: 260px;
    display: flex;
    gap: .5rem;
    margin: .5rem;

    input {
        width: 100%;
        border-bottom: solid 1px $black;
         border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        padding: 0 .4rem;
    }
    input:focus {
        outline: none;
        box-shadow: none;
        border-bottom: solid 1px $primary;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    button {
        margin-left: -2.7rem;
        padding: .3rem;
        img {
        scale: 0.75;
        }
    }
}

.modal-content {
    padding: 1rem;

    .modal-header {
        border-bottom: 0;
    }
    .forgotPassword {
        float: right;
    }
    #loginButton {
        margin-top: .5rem;
        width: 100%;
    }
}
.newsletter-form {
    
    label {
        width: 100%;
    }
    input {
        width: 70%;
        padding: .4rem .8rem;
        margin: 1rem 0rem;
        border-bottom: solid 1px $black;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    input:focus {
        outline: none;
        box-shadow: none;
        border-bottom: solid 1px $primary;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}